<template>
  <div class="wrapper">
    <div class="d-flex">
      <div class="recipe">
        <div>
          <div class="mt-4 mb-3">
            <h2 class="mb-4 text-center">Semua Resep</h2>
            <div v-if="!recipes.length" class="text-center">
              <b-spinner v-if="busy" variant="primary" />
              <span v-else class="text-center">No Data</span>
            </div>
            <ul v-else :style="gridStyle" class="card-list m-0 p-5">
              <b-card
                v-for="(item, p) in recipes"
                :key="p"
                :img-src="item.thumb"
                img-alt="Image"
                img-top
                img-height="200"
                img-width="200"
                class="mb-2"
              >
                <div
                  class="d-flex justify-content-between align-items-center mb-2"
                >
                  <b-badge
                    :style="{ background: onBadgeStyleChange(item.dificulty) }"
                    >{{ item.dificulty }}</b-badge
                  >
                  <span>
                    <i class="icon fa-lg mr-1 fa fas fa-clock"></i>
                    {{ item.times }}
                  </span>
                </div>
                <b-card-title>
                  <h4>{{ item.title }}</h4>
                </b-card-title>
                <template #footer>
                  <b-row class="justify-content-between align-items-center">
                    <div class="col-6 text-left">
                      <b-button @click="goDetail(item.key)"
                        >Lihat Detail</b-button
                      >
                    </div>
                    <div class="col-6 text-right">
                      <span>
                        <i class="icon fa-lg mr-1 fa fas fa-utensils"></i>
                        {{ item.portion }}
                      </span>
                    </div>
                  </b-row>
                </template>
              </b-card>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'IndexRecipe',

  data: () => ({
    recipes: [],
    numberOfColumns: 4,
    busy: false,
    windowWidth: 0,
  }),

  computed: {
    gridStyle() {
      return {
        gridTemplateColumns: `repeat(${this.numberOfColumns}, minmax(100px, 1fr))`,
      }
    },
  },

  watch: {
    windowWidth(newWidth, oldWidth) {
      switch (true) {
        case Number(newWidth) <= 540:
          return (this.numberOfColumns = 1)
        case Number(newWidth) <= 1024 && Number(newWidth) > 540:
          return (this.numberOfColumns = 2)
        case Number(newWidth) <= 1250 && Number(newWidth) > 819:
          return (this.numberOfColumns = 3)
        default:
          return (this.numberOfColumns = 4)
      }
    },
    currentPage: {
      immediate: true,
      handler(_) {
        this.fetchRecipeData()
      },
    },
  },

  mounted() {
    this.onResize()
    this.fetchRecipeData()
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.onResize)
  },

  methods: {
    async fetchRecipeData() {
      this.busy = true
      const data = await axios.get('/api/recipes')
      this.recipes = data.data.results
      this.busy = false
    },
    onResize() {
      this.windowWidth = window.innerWidth
    },
    async goDetail(key) {
      await this.$router.push(`/recipe/${key}`)
    },
    onBadgeStyleChange(difficulty) {
      switch (difficulty.toLowerCase()) {
        case 'mudah':
          return 'green'
        case 'sedang':
          return 'orange'
        case 'cukup rumit':
          return 'red'
        default:
          return 'black'
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.wrapper {
  background-color: #fff9e8;
}
.recipe {
  background-color: white;
  padding: 20px;
  transition: 0.3s;
  width: 100%;
}
.overlay {
  background: #000;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.3s;
  visibility: hidden;
  z-index: 102;

  &.shown {
    opacity: 0.9;
    visibility: visible;
  }
}
.card-list {
  display: grid;
  grid-gap: 1em;
}
.card-image {
  height: 70% !important;
}
.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.card-text {
  height: 20% !important;
}
ul {
  list-style-type: none;
}
.card-item > .card-body {
  padding: 0px;
}
.card-footer {
  background-color: white;
  border: none;
  outline: none;
}
.icon {
  color: #c56824;
}
.btn {
  background-color: #a09f57;
  border: none;
  outline: none;
  font-weight: bold;
}
.btn:hover,
.btn:focus {
  background-color: #c56824;
  border: none;
  outline: none;
  box-shadow: none !important;
}
</style>
