<template>
  <Nuxt />
</template>

<style lang="scss">
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (min-width: 992px) {
    font-size: 14px;
  }
}

a {
  cursor: pointer;

  &.add-edit {
    color: var(--md-cyan-800);
  }

  &.delete {
    color: red;
  }
}

:placeholder-shown {
  color: var(--md-grey-600);
}

.mx-datepicker {
  width: 100% !important;
}

.mx-input {
  .is-invalid & {
    border-color: red;
  }
}

.btn {
  color: white;
}

.vue-numeric-input {
  width: 100% !important;

  .numeric-input {
    height: calc(1.5em + 0.75rem + 2px);
    outline: 0;
    padding-left: 2.4rem !important;
    padding-right: 2.4rem !important;
  }

  .btn {
    height: 1.5rem;
    top: 50% !important;
    transform: translateY(-50%);

    &-decrement {
      left: 0.5rem !important;
    }

    &-increment {
      right: 0.5rem !important;
    }
  }
}

.vs__dropdown-toggle {
  .is-invalid & {
    border-color: red;
  }

  .vs__actions svg {
    vertical-align: initial;
  }
}

.pointer {
  cursor: pointer;
}

.btn-cancel,
.btn-close {
  color: red;
  &.btn-cancel:hover {
    color: white;
  }
}
.text-theme {
  color: #c56824;
}
</style>
