<template>
  <div class="wrapper">
    <div class="container-xxl bg-primary hero-header">
      <div class="first-content">
        <b-row align-v="center">
          <b-col lg="6" class="text-center text-lg-left py-3">
            <h1 class="text-white mb-4n">Meet Your Next Favourite Food</h1>
            <p class="text-white pb-3">
              Thousand of people are using <b>In D’Kitchen</b> to find and write
              recipes you'll love
            </p>
            <b-button class="px-5 rounded-pill" size="lg" href="recipe">
              Get Started
            </b-button>
          </b-col>
          <b-col lg="6" class="text-center text-lg-left py-3">
            <img class="img-fluid p-2" src="~/assets/hero.png" alt="" />
          </b-col>
        </b-row>
      </div>
    </div>
    <div class="third-content">
      <b-row>
        <b-col class="text-center">
          <img
            src="~/assets/landing-image-2.jpg"
            class="img-thumbnail"
            width="450"
          />
        </b-col>
        <b-col class="paragraph">
          <div class="three">
            <h1 class="text-theme mb-4">Tulis Resep</h1>
            <p class="text-theme p-0 mb-2">
              Tidak punya akun? Bergabunglah secara gratis.
            </p>
            <b-button variant="primary" text-lg-left text-center>
              Sign Up
            </b-button>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  data: () => ({
    isSolid: '',
  }),
}
</script>

<style lang="scss" scoped>
.wrapper {
  overflow: hidden;
  overflow-y: auto;
}
.hero-header {
  margin-bottom: 6rem;
  padding: 8rem 0;
  background: url('../assets/blob-top-left.png'),
    url('../assets/blob-top-right.png'), url('../assets/blob-bottom-left.png'),
    url('../assets/blob-bottom-right.png'), url('../assets/blob-center.png'),
    url('../assets/bg-bottom.png');
  background-position: left 0px top 0px, right 0px top 0px, left 0px bottom 0px,
    right 0px bottom 0px, center center, center bottom;
  background-repeat: no-repeat;
}
@media (max-width: 991.98px) {
  .hero-header {
    padding: 12rem 0 9rem 0;
  }
}
.bg-primary {
  background-color: #c56824 !important;
}
.first-content {
  display: flex;
  padding-left: 80px;
  padding-right: 80px;

  @media (max-width: 700px) {
    padding: 30px;
  }
}
.third-content {
  color: #fff;
  background: white;
  width: 100%;
  margin-bottom: 20px;
}
.btn {
  background-color: #eadeb8 !important;
  color: #c56824;
  font-weight: bold;
  border: none;
}
.btn:hover,
.btn:focus {
  color: #67662a;
  border: none;
  outline: none;
  box-shadow: none !important;
}
h1 {
  font-size: 45px;
}
.paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  .three {
    overflow-y: auto;
    max-height: 90vh;
  }
}
.img-thumbnail {
  margin-left: 25px;
}
</style>
