<template>
  <div class="wrapper">
    <div class="recipe">
      <div class="d-flex align-items-center mb-3">
        <a class="p-3" @click="close">
          <i class="icon fa fas fa-chevron-left" size="lg"></i>
        </a>
        <div class="ml-2">
          <h4 class="mb-0">Detail Resep</h4>
          <span class="sub-title text-muted">Resep > Detail Resep</span>
        </div>
      </div>
      <b-spinner v-if="$fetchState.pending" />
      <p v-else-if="$fetchState.error" class="text-center">An error occurred</p>
      <div v-else>
        <div class="detail">
          <div class="recipe-image">
            <img
              :src="
                detail.thumb ? detail.thumb : require('@/assets/no-image.svg')
              "
              class="image-fit"
            />
          </div>
          <div class="ml-4 general-info">
            <div>
              <h4>{{ detail.title }}</h4>
              <span>
                <p>
                  oleh
                  <b class="user">{{
                    detail.author.user ? detail.author.user : 'unknown user'
                  }}</b
                  >, {{ detail.author.datePublished }}
                </p>
              </span>
            </div>
            <div class="d-flex align-items-center mb-3">
              <b-badge
                :style="{ background: onBadgeStyleChange(detail.dificulty) }"
              >
                {{ detail.dificulty }}
              </b-badge>
              <span>
                <i class="icon fa-md mr-1 ml-3 fa fas fa-clock"></i>
                {{ detail.times }}
              </span>
              <span>
                <i class="icon fa-md mr-1 ml-3 fa fas fa-utensils"></i>
                {{ detail.servings }}
              </span>
            </div>
            <p class="text-justify">
              {{ detail.desc }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-8">
            <h4>Langkah-langkah</h4>
            <div
              v-for="(item, index) in detail.step"
              :key="'step' + index"
              class="d-flex"
            >
              <p>
                {{ item }}
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div>
              <h4>Bahan</h4>
              <h6>*Bahan yang sangat dibutuhkan</h6>
              <div
                v-for="(item, index) in detail.needItem"
                :key="'needItem' + index"
                class="d-flex align-items-end"
              >
                <img v-if="item.thumb_item" :src="item.thumb_item" width="50" />
                <span>
                  <p>> {{ item.item_name }}</p>
                </span>
              </div>
              <div
                v-for="(item, index) in detail.ingredient"
                :key="'ingredient' + index"
                class="mt-2 custom-control custom-checkbox"
              >
                <input type="checkbox" class="custom-control-input" />
                <label class="custom-control-label">{{ item }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'DetailRecipe',

  data: () => ({
    detail: {},
  }),

  async fetch() {
    const key = this.$route.params.key
    const data = await axios.get('/api/recipe/' + key)
    this.detail = data.data.results
  },

  methods: {
    close() {
      this.$router.push({ name: 'recipe' })
    },
    onBadgeStyleChange(difficulty) {
      switch (difficulty.toLowerCase()) {
        case 'mudah':
          return 'green'
        case 'sedang':
          return 'orange'
        case 'cukup rumit':
          return 'red'
        default:
          return 'black'
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.image-fit {
  max-width: 100%;
  max-height: 100%;
}
.recipe-image {
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 50vh;

  @media screen and (max-width: 992px) {
    width: 100%;
    margin-bottom: 20px;
  }
}
.wrapper {
  overflow: hidden;
}
.recipe {
  background-color: #fff;
  margin-top: 80px;
  padding: 25px;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.3s;
}
.bg-header {
  background: #cbe4ec;
}
.detail {
  display: flex;

  @media screen and (max-width: 992px) {
    display: grid;
  }
}
.general-info {
  width: 50vw;

  @media screen and (max-width: 992px) {
    width: 100%;
    margin-left: 0 !important;
  }
}
.user,
.icon {
  color: #c56824;
}
</style>
